<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BrokenToaster1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C3519FB1E074221005A4ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C351A0F1E074222005A4ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C351A1A1E074222005A4ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
